<nav class="navbar navbar-expand-md navbar-dark bg-main">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Voidstorm</a>
      </div>
  
      <ul class="nav navbar-nav navbar-right">
       
        
        
            <li><a href="/course">Courses</a></li>
            <li><a href="/revenue-report">Revenue report</a></li>
            <li>
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                aria-haspopup="true" aria-expanded="false">
                  Users
                </a>
    
                <ul class="dropdown-menu">
                  <li><a href="/users">All Users</a></li>
                  <li><a href="/student">Leaners</a></li>
                  <li><a href="/teachers">Teachers</a></li>
                </ul>
    
              </li>
              <li>
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                aria-haspopup="true" aria-expanded="false">
                categories
                </a>
    
                <ul class="dropdown-menu">
                  <li><a href="/categories">view categories</a></li>
                  <li><a href="/admin/create-category">add categories</a></li>
                </ul>
              </li>
              <li>
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                aria-haspopup="true" aria-expanded="false">
                feild of study
                </a>
    
                <ul class="dropdown-menu">
                  <li><a href="/fos">view fos</a></li>
                  <li><a href="/admin/create-fos">add categories</a></li>
                </ul>
              </li>
              <li><a href="/">edit admin profile</a></li>
          <li><a href="/logout">Logout</a></li>
     
  
      </ul>
    </div>
  </nav>
  